<div style="padding: 1rem;">
    <h1 md-dialog-title>Confirm Deletion</h1>
    <div md-dialog-content>{{data.confirmationText}}</div>
    <div style="margin-top: 1rem;" mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial
            [mat-dialog-close]="false"><mat-icon>cancel</mat-icon>Cancel</button>
        <button mat-button color="primary" [mat-dialog-close]="true"><mat-icon>delete</mat-icon>Delete</button>
    </div>
</div>