.application-table {
    width: 100%;
}

mat-header-cell {
    background-color: #3f51b5 !important;
    color: white !important;
}

.mat-column-action {
    flex: 0 0 6rem;
}

.mat-column-id {
    flex: 0 0 20rem;
}

.mat-column-status {
    flex: 0 0 8rem;
}