<h1>Application Migration Overview</h1>

<button routerLink="/create" mat-raised-button color="primary" style="margin-top:1rem; margin-bottom:2rem;">
    <mat-icon>add</mat-icon>
    Add application
</button>

<div>
    <mat-form-field appearance="outline" style="width:25rem;">
        <mat-label>
            Filter by application name
        </mat-label>
        <mat-icon matPrefix>filter_list</mat-icon>
        <mat-icon matSuffix (click)="clearFilter()">close</mat-icon>
        <input #filterInput matInput (keyup)="applyFilter($event)" placeholder="Filter by application name" />
    </mat-form-field>
</div>

<div class="mat-elevation-z8" style="padding-bottom: 1rem;">
    <mat-table [dataSource]="dataSource" matSort>

        <div *matNoDataRow style="margin-top: 2rem; margin-left: 1.8rem;">There are currently no application entries to
            be
            shown.</div>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let application">
                <mat-icon color="primary" [routerLink]="['/edit', application.applicationId]"
                    style="cursor: pointer;">edit</mat-icon>
                <mat-icon (click)="deleteApplication(application)" style="margin-left: 0.5rem; cursor: pointer;"
                    color="warn">delete</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let application">{{application.applicationId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let application">{{application.applicationName}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let application">{{application.migrationStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="responsible">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Responsible</mat-header-cell>
            <mat-cell *matCellDef="let application">{{application.responsiblePerson}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="teamTDE">
            <mat-header-cell *matHeaderCellDef mat-sort-header>TDE Team</mat-header-cell>
            <mat-cell *matCellDef="let application">{{application.responsibleTeamTDE}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator style="margin-top: 1rem;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of application">
    </mat-paginator>
</div>