<mat-toolbar color="primary" class="app-toolbar mat-elevation-z6">
  <mat-toolbar-row>
    <img
      src="assets/img/tde_logo.png"
      style="width: 48px; padding-right: 15px"
    />
    BDE Demo
    <span class="menu-spacer"></span>
    <mat-icon style="margin-right: 0.2rem">person_outline</mat-icon>
    <span class="user-name">{{ userName }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
