<h1 *ngIf="applicationId;else create_new_application">
    Edit Application
</h1>

<ng-template #create_new_application>
    <h1>Create new Application</h1>
</ng-template>

<form [formGroup]="applicationFormGroup" (ngSubmit)="onSubmit()">

    <div *ngIf="applicationId" style="margin-top:2.5rem;">
        <mat-form-field [style.width.rem]=25>
            <mat-label>Application ID</mat-label>
            <input matInput formControlName="applicationId" [errorStateMatcher]="errorStateMatcher" />
            <mat-error *ngIf="applicationFormGroup.controls.applicationId.hasError('required')">
                Application ID is required
            </mat-error>
        </mat-form-field>
    </div>

    <div style="margin-top:1rem;">
        <mat-form-field [style.width.rem]=25>
            <mat-label>Application Name</mat-label>
            <input matInput formControlName="applicationName" [errorStateMatcher]="errorStateMatcher" />
            <mat-error *ngIf="applicationFormGroup.controls.applicationName.hasError('required')">
                Application Name is required
            </mat-error>
        </mat-form-field>
    </div>

    <div style="margin-top:1rem;">
        <mat-form-field [style.width.rem]=18>
            <mat-label>Migration Status</mat-label>
            <mat-select formControlName="migrationStatus" [errorStateMatcher]="errorStateMatcher">
                <mat-option *ngFor="let status of statusOptions" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="applicationFormGroup.controls.migrationStatus.hasError('required')">
                A migration status must be selected
            </mat-error>
        </mat-form-field>
    </div>

    <div style="margin-top:1rem;">
        <mat-form-field [style.width.rem]=25>
            <mat-label>Responsible Person</mat-label>
            <input matInput formControlName="responsiblePerson" [errorStateMatcher]="errorStateMatcher" />
            <mat-error *ngIf="applicationFormGroup.controls.responsiblePerson.hasError('required')">
                Name of the responsible person for the migration is required
            </mat-error>
        </mat-form-field>
    </div>


    <div style="margin-top:1rem;">
        <mat-form-field [style.width.rem]=18>
            <mat-label>Responsible TDE Team</mat-label>
            <mat-select formControlName="responsibleTeamTDE" [errorStateMatcher]="errorStateMatcher">
                <mat-option *ngFor="let team of teamOptions" [value]="team">
                    {{team}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="applicationFormGroup.controls.migrationStatus.hasError('required')">
                A responsible TDE team must be selected
            </mat-error>
        </mat-form-field>
    </div>


    <button routerLink="/" mat-raised-button style="margin-top:2rem; margin-bottom:2rem; margin-right:2rem;">
        <mat-icon>cancel</mat-icon>
        Cancel
    </button>

    <button mat-raised-button color="primary" type="submit" style="margin-top:2rem; margin-bottom:2rem;">
        <mat-icon>save</mat-icon>
        Save
    </button>

</form>